version: "3.9"

services:
  backend:
    build: ./backend # Assumes your backend Dockerfile is in a 'backend' folder
    environment:
      - MONGO_URL=mongodb://Shield_Foundation:e26bfa34de2cf8a2b10b@31.97.207.166:27017/?tls=false
      - DB_NAME=shield_foundation
    volumes:
      - backend_uploads:/app/uploads
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  frontend:
    build: ./frontend # Assumes your frontend Dockerfile is in a 'frontend' folder
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  backend_uploads:
  mongo_data:

